extends layout

block content
  title My Vacation Planner
  body
    // Sidebar
    nav
      .sidebar
        img(src='/images/icon2.jpg', alt='FlyingIcon', style='width:100px;height:100px;')
        h2 Vacation Planner
        h3 By Roger Goh 21618306

        ul
          li
            a(href='home')  Home 
          li
            a(href='register')
              b  Register ☀
          li
            a(href='ref')  References 
        p
          | Please login with an existing account you have registered with to see your Holiday Gallery!
        .footer
          p#curTime
          p#dateMod
          script.
            //getting last modified date
            document.getElementById("dateMod").innerHTML = "Last modified date: " + document.lastModified;
            //get current time
            startTime();
            function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('curTime').innerHTML =
            "Current Time: " + h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
            }
            function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
            }
    // Heading
    .header
      b(style='font-size: 30px;') Log In
    // Register Form
    .center
      form(action="/login",method="post")
        fieldset
          legend Personal Information:
          |             Username: 
          br
          input(type='text', name='username', value='August')
          br
          |             Password: 
          br
          input(type='password', name='password', value='Goldenheart1')
          br
          br
          input(type='submit', value='Submit')
      a(style='color: teal;', href='register')
        b Don't have an account?
